{{article-header}}

<div local-class='page-title'>
  People
</div>

<div local-class='users'>
  {{#each users as |user|}}
    <div local-class='user'>
      {{#link-to 'users.user' user.id local-class='user-link'}}
        <img local-class='user-image' src={{or user.profileImage.firstObject.url '/images/avatar.jpg'}} />
        <div local-class='user-name'>
          {{user.firstName}} {{user.lastName}}
        </div>
        {{!-- <div local-class='status {{lowercase (dasherize user.status)}}'>
          {{if (not-eq user.status 'Inactive') user.status}}
        </div> --}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
