<div local-class='login-form'>
  <div local-class='decoration'>
    {{article-header}}
  </div>

  <div local-class='page-title'>
    Login
  </div>

  {{flash-messages scope='login'}}

  <label local-class='input-label'> Email </label>
  <input local-class='input' oninput={{action (mut email) value='target.value'}} type='email' autofocus>
  <label local-class='input-label'> Password </label>
  <input local-class='input' oninput={{action (mut password) value='target.value'}} type='password' onkeydown={{action onEnter}}>

  <div local-class='buttons'>
    <button local-class='login' onclick={{perform login}} disabled={{or (not (and email password)) login.isRunning}}>
      {{#if login.isRunning}}
        Please wait...
      {{else}}
        Login
      {{/if}}
    </button>
    {{#link-to 'register' local-class='register'}}
        Register
    {{/link-to}}
  </div>
</div>
