<div local-class='fixed-post-image'>
  <img src={{featuredImageUrl}} alt='Feature Image' />
  <div local-class='post-info'>
    <div local-class='post-categories'>
      {{or categoriesForDisplay 'Uncategorized'}}
    </div>

    <div local-class='post-title'>
      {{post.title}}
    </div>
    <div local-class='post-meta'>
      Posted by
      <span local-class='post-author'>{{author.firstName}} {{author.lastName}}</span>
      on
      <span local-class='post-date'>{{moment-format post.publishedOn}}</span>
    </div>
  </div>
</div>

<!-- TODO handle post.hideFeaturedImage -->
<div local-class='post-image'>
  <img src={{featuredImageUrl}} alt='Feature Image' />
</div>

<div local-class='post-content-wrapper'>
  {{article-header}}

  {{#if canEdit}}
    <div local-class='edit-button-container'>
      {{#link-to 'admin.posts.edit-post' post.id local-class='edit-button'}}
        <i class='genericon genericon-edit' local-class='icon'></i>
        Edit Post
    {{/link-to}}
    </div>
  {{/if}}

  <div local-class='post-info'>
    <div local-class='post-categories'>
      {{categoriesForDisplay}}
    </div>
    <div local-class='post-title'>
      {{post.title}}
    </div>
    <div local-class='post-meta'>
      Posted by
      <span local-class='post-author'>{{author.firstName}} {{author.lastName}}</span>
      on
      <span local-class='post-date'>{{moment-format post.publishedOn}}</span>
    </div>
  </div>
  <div local-class='post-content'>
    {{{post.content}}}
  </div>

  {{article-footer}}

  {{post-attachments attachments=post.attachments}}
  {{!-- TODO previous post --}}
  {{!-- TODO next post --}}
</div>
