<div local-class='register-form'>
  <div local-class='decoration'>
    {{article-header}}
  </div>

  <div local-class='page-title'>
    Register
  </div>

  {{social-login}}

  <label local-class='input-label'> First Name </label>
  <input local-class='input' oninput={{action (mut firstName) value='target.value'}} type='text'>
  <label local-class='input-label'> Last Name </label>
  <input local-class='input' oninput={{action (mut lastName) value='target.value'}} type='text'>
  <label local-class='input-label'> Email </label>
  <input local-class='input' oninput={{action (mut email) value='target.value'}} type='email'>
  <label local-class='input-label'> Password </label>
  <input local-class='input' oninput={{action (mut password) value='target.value'}} type='password'>
  <label local-class='input-label'> Confirm Password </label>
  <input local-class='input' oninput={{action (mut passwordConfirm) value='target.value'}} type='password' onkeydown={{action onEnter}}>

  {{flash-messages scope='form' flashClass=(local-class 'flash-messages')}}

  <div local-class='buttons'>
    <button
      local-class='register'
      onclick={{perform register}}
      disabled={{or (not (and firstName lastName email password passwordConfirm)) register.isRunning}}
    >
      {{#if register.isRunning}}
        Please wait...
      {{else}}
        Register
      {{/if}}
    </button>
    {{#link-to 'login' (query-params redirect=redirect) local-class='login'}}
      Login
    {{/link-to}}
  </div>
</div>
