{{#link-to 'index' local-class='link-to-index'}}
  {{family-tree-icon height=40 local-class='tree-icon'}} Hagans Family
{{/link-to}}

<div local-class='menu-trigger menu-link {{if showMenu 'show-mobile-menu'}}' onclick={{action (mut showMenu) (not showMenu)}}>
  {{#if showMenu}}
    <i class='genericon genericon-close-alt' local-class='icon'></i>
  {{else}}
    <i class='genericon genericon-menu' local-class='icon'></i>
  {{/if}}
  Menu
</div>
<div local-class='menu {{if showMenu 'show-mobile-menu'}}'>
  {{#if session.isAuthenticated}}
    {{#each menuItems as |item|}}
      <div local-class='dropdown-container menu-item'>
        {{#link-to item.route
          local-class=(concat
            'menu-link dropdown-trigger '
            (if (or
              (eq router.currentRouteName item.route)
              (eq router.currentRouteName (concat item.route '.index'))
              item.isActive
            ) 'active')
          )
        }}
          {{item.name}}
        {{/link-to}}
        {{#if item.children}}
          <div local-class='dropdown-content'>
            {{#each item.children as |child|}}
              {{#if child.action}}
                <a local-class='menu-link' onclick={{action child.action}}>
                  {{child.name}}
                </a>
              {{else}}
                {{#link-to child.route local-class=(concat 'menu-link ' (if (eq router.currentRouteName child.route) 'active'))}}
                  {{child.name}}
                {{/link-to}}
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    {{#link-to 'login' local-class='menu-link menu-item'}}
      Login
    {{/link-to}}
    {{#link-to 'register' local-class='menu-link menu-item'}}
      Register
    {{/link-to}}
    {{#link-to 'contact' local-class='menu-link menu-item'}}
      Contact
    {{/link-to}}
  {{/if}}
</div>
