<div local-class='centered-content'>
  {{article-header}}

  <div local-class='page-title'>
    2019 Reunion Registration
  </div>

  {{flash-messages scope='form' flashClass=(local-class 'flash-messages')}}

  {{#unless session.isAuthenticated}}

    <h2 local-class='subtitle'>
      Please register or login to get started.
    </h2>

    <div local-class='buttons'>
      {{#link-to 'login' (query-params redirect=redirectHere handhold=true) local-class='primary-button'}}
          Login
      {{/link-to}}
      {{#link-to 'register' (query-params redirect=redirectHere handhold=true) local-class='secondary-button'}}
          Register
      {{/link-to}}
    </div>

  {{else}}

    {{!-- I think the user needs to be authenticated before creating the registrations... --}}
    {{!-- <label local-class='input-label'> First Name </label>
    <input local-class='input' oninput={{action (mut firstName) value='target.value'}} type='text'>
    <label local-class='input-label'> Last Name </label>
    <input local-class='input' oninput={{action (mut lastName) value='target.value'}} type='text'>
    <label local-class='input-label'> Email </label>
    <input local-class='input' oninput={{action (mut email) value='target.value'}} type='email'>

    <div local-class='buttons'>
      <button
        local-class='primary-button'
        onclick={{perform register}}
        disabled={{or (not (and firstName lastName email password passwordConfirm)) register.isRunning}}
      >
        {{#if createUser.isRunning}}
          Please wait...
        {{else}}
          Submit
        {{/if}}
      </button>
    </div> --}}
  {{/unless}}
</div>
