{{article-header}}

<div local-class='page-title'>
  {{user.firstName}} {{user.lastName}}
</div>

{{#if session.userIsPending}}
  <div local-class='pending-review-message'>
    Your account is pending review
  </div>
{{/if}}

<img local-class='user-image' src={{or user.profileImage.firstObject.url '/images/avatar.jpg'}} />

<div local-class='user-info'>
  <div local-class='tab-nav'>
    <div local-class='tab {{if (eq tab 'info') 'active'}}'>
      {{#link-to 'users.user' user.id (query-params tab='info') local-class='tab-link'}}
        Info
      {{/link-to}}
    </div>
    {{#if (not session.userIsPending)}}
      <div local-class='tab {{if (eq tab 'relationships') 'active'}}'>
        {{#link-to 'users.user' user.id (query-params tab='relationships') local-class='tab-link'}}
          Family Relationships
        {{/link-to}}
      </div>
      {{#if (eq user.id session.user.id)}}
        <div local-class='tab {{if (eq tab 'edit') 'active'}}'>
          {{#link-to 'users.user' user.id (query-params tab='edit') local-class='tab-link'}}
            Edit
          {{/link-to}}
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{#liquid-if (eq tab 'relationships')}}
    {{#if relationships.mother.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Mother
        </div>
        <div local-class='relationships'>
          {{#each relationships.mother as |user|}}
            {{#link-to 'users.user' user.id local-class='user-link'}}
              {{user-photo user=user size=50}}
              {{user.firstName}} {{user.lastName}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if relationships.father.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Father
        </div>
        <div local-class='relationships'>
          {{#each relationships.father as |user|}}
            {{#link-to 'users.user' user.id local-class='user-link'}}
              {{user-photo user=user size=50}}
              {{user.firstName}} {{user.lastName}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if relationships.siblings.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Sibings
        </div>
        <div local-class='relationships'>
          {{#each relationships.siblings as |user|}}
            {{#link-to 'users.user' user.id local-class='user-link'}}
              {{user-photo user=user size=50}}
              {{user.firstName}} {{user.lastName}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if relationships.children.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Children
        </div>
        <div local-class='relationships'>
          {{#each relationships.children as |user|}}
            {{#link-to 'users.user' user.id local-class='user-link'}}
              {{user-photo user=user size=50}}
              {{user.firstName}} {{user.lastName}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/if}}

  {{else if (eq tab 'edit')}}

    <div local-class='profile-item'>
      <div local-class='profile-header no-border'>
        Birth Date
      </div>
      <input local-class='input' type='date' value={{editedFields.birthDate}} onchange={{action (mut editedFields.birthDate) value='target.value'}} />
    </div>

    <div local-class='profile-item'>
      <div local-class='profile-header no-border'>
        Preferred Methods of Contact
      </div>
      {{#power-select-multiple
        options=(array 'Email' 'SMS Text' 'Snail Mail')
        onchange=(action (mut editedFields.contactMethods))
        selected=editedFields.contactMethods
      as |name|}}
        {{name}}
      {{/power-select-multiple}}
    </div>

    <div local-class='profile-item'>
      <div local-class='profile-header no-border'>
        <i class='genericon genericon-phone' local-class='icon'></i>
        Phone Number
      </div>
      <input local-class='input' type='tel' value={{editedFields.phone}} oninput={{action (mut editedFields.phone) value='target.value'}} pattern='([0-9]{3}) [0-9]{3}-[0-9]{4}' />
    </div>

    <div local-class='profile-item'>
      <div local-class='profile-header no-border'>
        <i class='genericon genericon-location' local-class='icon'></i>
        Address
      </div>
      <input local-class='input' type='text' value={{editedFields.address}} oninput={{action (mut editedFields.address) value='target.value'}} />
    </div>

    {{flash-messages scope='update-user'}}

    <div local-class='buttons'>
      <button local-class='submit' onclick={{perform updateUser}} disabled={{updateUser.isRunning}}>
        {{#if updateUser.isRunning}}
          Please wait...
        {{else}}
          Update
        {{/if}}
      </button>
    </div>

  {{else}}

    {{#if user.birthDate}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Age
        </div>
        {{moment-from-now birthDate hideAffix=true}}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Birth Date
        </div>
        {{moment-format birthDate 'MMMM Do YYYY'}}
      </div>
    {{/if}}

    {{#if user.contactMethods.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Preferred Methods of Contact
        </div>
        {{contactMethods}}
      </div>
    {{/if}}

    {{#if user.email}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-mail' local-class='icon'></i>
          Email
        </div>
        {{user.email}}
      </div>
    {{/if}}

    {{#if user.phone}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-phone' local-class='icon'></i>
          Phone Number
        </div>
        {{user.phone}}
      </div>
    {{/if}}

    {{#if user.address}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-location' local-class='icon'></i>
          Address
        </div>
        {{#if (and user.address loadAddressCoordinates.isRunning)}}
          <div local-class='loading'>Loading...</div>
        {{else if addressLocation}}
          {{#leaflet-map center=addressLocation zoom=12 local-class='address-map'}}
            {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#marker-layer location=addressLocation}}
              {{#popup-layer}}
                {{formattedAddress}}
              {{/popup-layer}}
            {{/marker-layer}}
          {{/leaflet-map}}
        {{/if}}
      </div>
    {{/if}}
  {{/liquid-if}}
</div>
