{{article-header}}

<div local-class='page-title'>
  {{user.firstName}} {{user.lastName}}
</div>

{{#if (and isCurrentUser userIsPending)}}
  <div local-class='pending-review-message'>
    Your account is pending review
  </div>
{{else if userIsPending}}
  <div local-class='pending-review-message'>
    This account is pending review
  </div>
{{/if}}

<!-- TODO add a way to upload image -->
<div local-class='user-image {{if isCurrentUser 'can-upload'}}'>
  <img src={{or user.profileImage.firstObject.url '/images/avatar.jpg'}} />
  {{#if isCurrentUser}}
    {{#file-dropzone name='photos' local-class='file-upload' as |dropzone queue|}}
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          Drop to upload
        {{else}}
          Invalid
        {{/if}}
      {{else if queue.files.length}}
        <div local-class='profile-image-upload-progress'>
          {{queue.progress}}%
        </div>
        <div local-class='progress-bar'>
          <div local-class='progress' style={{html-safe (concat 'width: ' queue.progress '%;')}}></div>
        </div>
      {{else}}
        {{#file-upload
          name='photos'
          for='upload-photo'
          accept='image/*'
          multiple=false
          onfileadd=(perform uploadProfileImage)
          local-class='file-upload-trigger'
        }}
          <i class='genericon genericon-image' local-class='icon'></i>
          <a tabindex=0>
            {{#if dropzone.supported}}
              Drag and drop or
            {{/if}}
            click
          </a>
        {{/file-upload}}
      {{/if}}
    {{/file-dropzone}}
  {{/if}}
</div>

<div local-class='user-info'>
  {{flash-messages scope='user-profile-image'}}
  
  <div local-class='tab-nav'>
    <div local-class='tab {{if (eq tab 'info') 'active'}}'>
      {{#link-to 'users.user' user.id (query-params tab='info') local-class='tab-link'}}
        Info
      {{/link-to}}
    </div>
    {{#if (not userIsPending)}}
      <div local-class='tab {{if (eq tab 'relationships') 'active'}}'>
        {{#link-to 'users.user' user.id (query-params tab='relationships') local-class='tab-link'}}
          Family Relationships
        {{/link-to}}
      </div>
      {{#if isCurrentUser}}
        <div local-class='tab {{if (eq tab 'edit') 'active'}}'>
          {{#link-to 'users.user' user.id (query-params tab='edit') local-class='tab-link'}}
            Edit
          {{/link-to}}
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{#liquid-if (eq tab 'relationships')}}
    {{#if relationships.mother.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Mother
        </div>
        {{user-list users=relationships.mother}}
      </div>
    {{/if}}

    {{#if relationships.father.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Father
        </div>
        {{user-list users=relationships.father}}
      </div>
    {{/if}}

    {{#if relationships.siblings.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Sibings
        </div>
        {{user-list users=relationships.siblings}}
      </div>
    {{/if}}

    {{#if relationships.spouse.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Spouse
        </div>
        {{user-list users=relationships.spouse}}
      </div>
    {{/if}}

    {{#if relationships.children.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Children
        </div>
        {{user-list users=relationships.children}}
      </div>
    {{/if}}

  {{else if (eq tab 'edit')}}

    <div local-class='profile-edit-header'>
      Info
    </div>
    <div local-class='profile-edit-section'>
      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Birth Date
        </div>
        <input local-class='input' type='date' value={{editedFields.birthDate}} onchange={{action (mut editedFields.birthDate) value='target.value'}} />
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Preferred Methods of Contact
        </div>
        {{#power-select-multiple
          options=(array 'Email' 'SMS Text' 'Snail Mail')
          onchange=(action (mut editedFields.contactMethods))
          selected=editedFields.contactMethods
        as |name|}}
          {{name}}
        {{/power-select-multiple}}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          <i class='genericon genericon-phone' local-class='icon'></i>
          Phone Number
        </div>
        <input local-class='input' type='tel' value={{editedFields.phone}} oninput={{action (mut editedFields.phone) value='target.value'}} pattern='([0-9]{3}) [0-9]{3}-[0-9]{4}' />
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          <i class='genericon genericon-location' local-class='icon'></i>
          Address
        </div>
        <input local-class='input' type='text' value={{editedFields.address}} oninput={{action (mut editedFields.address) value='target.value'}} />
      </div>
    </div>

    <div local-class='profile-edit-header'>
      Relationships
    </div>
    <div local-class='profile-edit-section'>
      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Mother
        </div>
        {{user-selector
          users=allUsers
          onchange=(action (mut editedRelationships.mother))
          selected=editedRelationships.mother
        }}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Father
        </div>
        {{user-selector
          users=allUsers
          onchange=(action (mut editedRelationships.father))
          selected=editedRelationships.father
        }}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Sibings
        </div>
        {{user-selector
          users=allUsers
          onchange=(action (mut editedRelationships.siblings))
          selected=editedRelationships.siblings
        }}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Spouse
        </div>
        {{user-selector
          users=allUsers
          onchange=(action (mut editedRelationships.spouse))
          selected=editedRelationships.spouse
        }}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header no-border'>
          Children
        </div>
        {{user-selector
          users=allUsers
          onchange=(action (mut editedRelationships.children))
          selected=editedRelationships.children
        }}
      </div>
    </div>

    {{flash-messages scope='update-user'}}

    <div local-class='buttons'>
      <button local-class='submit' onclick={{perform updateUser}} disabled={{updateUser.isRunning}}>
        {{#if updateUser.isRunning}}
          Please wait...
        {{else}}
          Update
        {{/if}}
      </button>
    </div>

  {{else}}

    {{#if user.birthDate}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Age
        </div>
        {{moment-from-now birthDate hideAffix=true}}
      </div>

      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Birth Date
        </div>
        {{moment-format birthDate}}
      </div>
    {{/if}}

    {{#if user.contactMethods.length}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          Preferred Methods of Contact
        </div>
        {{contactMethods}}
      </div>
    {{/if}}

    {{#if user.email}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-mail' local-class='icon'></i>
          Email
        </div>
        {{user.email}}
      </div>
    {{/if}}

    {{#if user.phone}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-phone' local-class='icon'></i>
          Phone Number
        </div>
        {{user.phone}}
      </div>
    {{/if}}

    {{#if user.address}}
      <div local-class='profile-item'>
        <div local-class='profile-header'>
          <i class='genericon genericon-location' local-class='icon'></i>
          Address
        </div>
        {{#if (and user.address loadAddressCoordinates.isRunning)}}
          <div local-class='loading'>Loading...</div>
        {{else if addressLocation}}
          {{#leaflet-map center=addressLocation zoom=12 local-class='address-map'}}
            {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#marker-layer location=addressLocation}}
              {{#popup-layer}}
                {{formattedAddress}}
              {{/popup-layer}}
            {{/marker-layer}}
          {{/leaflet-map}}
        {{/if}}
      </div>
    {{/if}}
  {{/liquid-if}}
</div>
