<div local-class='post-edit-form'>
  {{#if showPublish}}
    <div local-class='row'>
      <button onclick={{perform publish}} local-class='publish-button'>
        Publish
      </button>
    </div>
  {{/if}}
  <div local-class='row'>
    <div local-class='post-status {{dasherize post.status}}'>
      {{post.status}}
    </div>
    <div local-class='save-status {{if savePost.isRunning 'saving' 'saved'}}'>
      {{#if savePost.isRunning}}
        Saving…
      {{else}}
        <i class='genericon genericon-checkmark' local-class='icon'></i>
        Saved
      {{/if}}
    </div>
  </div>
  <label local-class='input-label'> Post Title </label>
  <input local-class='input post-title-input' value={{post.title}} oninput={{action (mut post.title) value='target.value'}} type='text'>

  <label local-class='input-label'> Post Content </label>
  {{html-editor local-class='post-content-input' value=post.content onChange=(action (mut post.content))}}

  {{log post.attachments}}
  {{#if (or post.attachments.length showAddAttachment)}}
    <label local-class='input-label attachment-label'> Attachments </label>
    {{post-attachments attachments=post.attachments canEdit=canEditAttachments}}
  {{/if}}
</div>
