<div local-class='post-edit-form'>
  {{#if showPublish}}
    <div local-class='row right-align'>
      {{#link-to 'post' post.id target='_blank' local-class='preview-button'}}
        Preview
      {{/link-to}}
      <button onclick={{perform publish}} local-class='publish-button'>
        Publish
      </button>
    </div>
  {{else if isPublished}}
    <div local-class='row right-align'>
      {{#link-to 'post' post.id target='_blank' local-class='view-button'}}
        View
      {{/link-to}}
    </div>
  {{/if}}
  <div local-class='row'>
    <div local-class='post-status {{dasherize post.status}}'>
      {{post.status}}
    </div>
    {{#if canEdit}}
      <div local-class='save-status {{if savePost.isRunning 'saving' 'saved'}}'>
        {{#if savePost.isRunning}}
          Saving…
        {{else}}
          <i class='genericon genericon-checkmark' local-class='icon'></i>
          Saved
        {{/if}}
      </div>
    {{/if}}
  </div>

  <label local-class='input-label'> Featured Image </label>
  <button onclick={{perform setFeaturedImage}} local-class='add-featured-image'>
    {{#if post.featuredImage}}
      Change
    {{else}}
      + Add Featured Image
    {{/if}}
  </button>
  {{post-attachments attachments=post.featuredImage}}

  <label local-class='input-label'> Post Title </label>
  <input local-class='input post-title-input' value={{post.title}} oninput={{action (mut post.title) value='target.value'}} type='text'>

  <label local-class='input-label'> Post Content </label>
  {{html-editor local-class='post-content-input' value=post.content onChange=(action (mut post.content))}}

  {{#if (or post.attachments.length showAddAttachment)}}
    <label local-class='input-label attachment-label'> Attachments </label>
    {{post-attachments
      attachments=post.attachments
      canEdit=canEdit
      onAdd=(perform addAttachment)
      onRemove=(perform removeAttachment)
    }}
  {{/if}}
</div>

{{#if showAddAttachmentModal}}
  {{#hagans-modal-dialog title='Upload' onClose=(action (mut showAddAttachmentModal false))}}
    {{flash-messages scope='add-attachment-modal'}}
    {{upload-file local-class='upload-file' onUpload=(perform upload)}}
  {{/hagans-modal-dialog}}
{{/if}}
