<div local-class='application'>
  <div local-class='app-header {{if onIndexPage 'index-page'}}'>
    {{app-header transitionTo=(action transitionTo)}}
  </div>

  {{#if onIndexPage}}
    <div local-class='site-image'>
      <div local-class='site-description-container'>
        <div local-class='site-description'>
          Every two years we gather to reconnect and celebrate each other and our shared history
        </div>
      </div>
    </div>
  {{/if}}

  <div local-class='content {{if onIndexPage 'index-page'}}'>
    {{flash-messages}}
    {{#if loading}}
      <div local-class='loading'></div>
    {{else}}
      {{liquid-outlet}}
    {{/if}}
    <!-- {{outlet}} -->
    <!-- {{#animated-container}}
      {{#animated-value router.currentRouteName}}
        {{outlet}}
      {{/animated-value}}
    {{/animated-container}} -->
  </div>

  <div local-class='app-footer'>
    {{app-footer}}
  </div>
</div>
