<div local-class='centered-content'>
  {{article-header}}

  <div local-class='page-title'>
    {{currentYear}} Reunion Registration
  </div>

  {{#if loading}}
    <h2 local-class='subtitle'>
      Please wait...
    </h2>
    {{site-loader local-class='loading'}}
  {{else if formExpired}}
    <h2 local-class='subtitle'>
      Registration has closed.
    </h2>
  {{else if successfullyRegistered}}
    <h2 local-class='subtitle'>
      <div local-class='checkmark'></div>
      Great! You have registered
      {{if (not-eq reunionRegistration.userId.firstObject session.user.id) reunionRegistration.fullName}}
      for the {{reunionRegistration.year}} reunion.
    </h2>
    <h2 local-class='subtitle'>
      Would you like to register another person in your household?
    </h2>

    <div local-class='buttons'>
      {{#link-to 'reunion-registration.main' (query-params additionalRegistration=true) replace=true local-class='primary-button'}}
        Yes
      {{/link-to}}
      {{#link-to 'reunion-registration.main' (query-params orderingTshirts=true) replace=true local-class='secondary-button'}}
        No
      {{/link-to}}
    </div>
  {{else if orderingTshirts}}
    TODO order additional t-shirts
  {{else if reunionRegistration}}
    <h2 local-class='subtitle'>
      {{#if (eq session.user.id registeredByUser.id)}}
        Looks like you already registered
      {{else}}
        Looks like you were already registered by {{registeredByUser.fullName}}
      {{/if}}
      on {{moment-format reunionRegistration.createdAt}}.
    </h2>

    <h2 local-class='subtitle'>
      {{!-- TODO add ability to pay down on remaining balance --}}
      {{#if (not reunionRegistration.remainingFeesDue)}}
        Your reunion fees have all been paid!
      {{else}}
        Your remaining fees due are ${{reunionRegistration.remainingFeesDue}} / ${{reunionRegistration.totalFeesDue}}.
      {{/if}}
    </h2>
  {{else}}
    {{reunion-registration-form
      user=session.user
      onSuccess=(action onRegistrationSuccess)
    }}
  {{/if}}
</div>
