<header local-class='application-header'>
  <nav local-class='nav'>
    {{#each menuItems as |item|}}
      <a local-class='menu-item' href={{destinationHref}} target={{target}} onclick={{action activate}}>
        {{item.label}}
      </a>
    {{/each}}
  </nav>
</header>
{{outlet}}
